<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Meu primeiro aplicativo Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <!-- versão de desenvolvimento, inclui aviso úteis no console  -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <!-- basic message -->
  <div id="app">
    {{ message }}
  </div>

  <!-- v-bind -->
  <div id="app-2">
      <span v-bind:title="message">
          stop the mouse over me.
      </span>
  </div>

  <!-- hide element  -->
  <div id="app-3">
      <p v-if="seen">now you saw me</p>
  </div>

  <!-- loop -->
  <div id="app-4">
      <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
      </ol>
  </div>

  <div id="app-5">
      {{message}}
      <button v-on:click="reverseMessage">Click to reverse the word</button>
  </div>

  <script>
    // basic message
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello Vue!'
      }
    })

    // directive v-bind
    var app2 = new Vue({
        el: '#app-2',
        data:{
            message: 'you have downloaded this page in: ' + new Date().toLocaleString()
        }
    })

    // hide or show the element
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })

    // loop
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos:[
                {text: "learn javascript"},
                {text: "learn vue"},
                {text: "work a lot on your project"}
            ]
        }
    });

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'hello vue'
        },
        methods:{
            reverseMessage: function(){
                this.message = this.message.split('').reverse().join('')
            }
        }
    });

  </script>
</body>
</html>